[access]
	inheritFrom = Public-Plugins
[project]
	description = Copies to other servers using the Git protocol
[access "refs/*"]
	owner = group google/gerritcodereview-maintainers@googlegroups.com
[receive]
[submit]
[access "refs/heads/*"]
	label-Verified = -1..+1 group gerrit-trusted-contributors
[access "refs/heads/stable-3.9"]
	delete = group google/gerritcodereview-maintainers@googlegroups.com
