[access]
	inheritFrom = Public-Plugins
[project]
	state = active
	description = Copies to other servers using the Git protocol
[access "refs/*"]
	owner = group google/gerritcodereview-maintainers@googlegroups.com
[receive]
	requireContributorAgreement = true
	requireChangeId = true
[submit]
	mergeContent = true
[access "refs/heads/*"]
	label-Verified = -1..+1 group gerrit-verifiers
[access "refs/tags/*"]
	pushTag = group google/gerritcodereview-maintainers@googlegroups.com
