[access]
	inheritFrom = Public-Plugins
[project]
	state = active
	description = Copies to other servers using the Git protocol
[access "refs/*"]
	owner = group google/gerritcodereview-maintainers@googlegroups.com
[receive]
[submit]
[access "refs/heads/*"]
	label-Verified = -1..+1 group gerrit-verifiers
[label "Code-Review"]
	function = MaxWithBlock
	copyMinScore = true
	copyAllScoresOnTrivialRebase = true
	value = -2 Do not submit
	value = -1 I would prefer that you didn't submit this
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	defaultValue = 0
	ignoreSelfApproval = true
